In [1]:
import pandas as pd

In [3]:
file_path = 'super_dane.csv'
df = pd.read_csv(file_path)

print(f"pierwsze 3 wiersze:\n {df.head(3)}")

pierwsze 3 wiersze:
    ID Kategoria  Wartość  Liczba
0   1         A       15     100
1   2         B       25     150
2   3         A       10      90

In [4]:
print(f"informacje o danych: {df.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         5 non-null      int64
 1   Kategoria  5 non-null      object
 2   Wartość    5 non-null      int64
 3   Liczba     5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 288.0+ bytes
informacje o danych: None

In [5]:
print("statystyki opisowe:\n")
print(df.describe())

statystyki opisowe:

             ID    Wartość      Liczba
count  5.000000   5.000000    5.000000
mean   3.000000  24.000000  114.000000
std    1.581139  11.937336   23.021729
min    1.000000  10.000000   90.000000
25%    2.000000  15.000000  100.000000
50%    3.000000  25.000000  110.000000
75%    4.000000  30.000000  120.000000
max    5.000000  40.000000  150.000000

In [6]:
#filtrowanie dnych
filtered_data = df[df['Wartość']>10]
print(f"przefiltorwane dane:\n")
print(filtered_data)

przefiltorwane dane:

   ID Kategoria  Wartość  Liczba
0   1         A       15     100
1   2         B       25     150
3   4         B       40     120
4   5         C       30     110

In [8]:
#grupowanie danych
groupdata = df.groupby('Kategoria').mean()
print(f"pogrupowane dane:\n")
print(groupdata)

pogrupowane dane:

            ID  Wartość  Liczba
Kategoria
A          2.0     12.5    95.0
B          3.0     32.5   135.0
C          5.0     30.0   110.0

In [11]:
# import numpy as np
# filtered_data['exp_values'] = np.sum(filtered_data['Wartość'])

<ipython-input-11-c48368aa9bdc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['exp_values'] = np.sum(filtered_data['Wartość'])